.roi {
  position: absolute;
  right: 24.9vw;
  bottom: 6.3vh;
  width: 4%;
  height: 10.12vh;
  background: linear-gradient(135deg, #4977ff, #3060ff);
  border-radius: 0.7vh;
}

.create_roi{
  position: absolute;
  left: 0.25vw;
  top: 0.6vh;
  width: 87%;
  height: 4.2vh;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(249, 251, 255) 100%);
  border-radius: 0.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_roi:hover {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(239, 244, 255));
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.create_roi:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roi-icon {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.threshold{
  position: absolute;
  left: 0.25vw;
  bottom: 0.6vh;
  width: 87%;
  height: 4.2vh;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(249, 251, 255) 100%);
  border-radius: 0.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threshold-icon {
  width: 85%;
  height: 95%;
  object-fit: contain;
}

.threshold:hover {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(239, 244, 255));
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.threshold:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}