<!-- CLASS_AREA_TITLE -->
<div class="CLASS_AREA_TITLE">AI Model Classes Name
</div> <!-- END CLASS_AREA_TITLE -->

<!-- CLASSES_NAME -->
<div class="CLASSES_NAME">No classes name present to search . . .
    <!-- SEARCH_BAR -->
    <div class="SEARCH_BAR">
    </div><!-- END SEARCH_BAR -->

    
</div><!-- END CLASSES_NAME -->

<div class="BROWSE_BY">Browse Image:
    <div class="IMAGE_FOLDER"><img src="/static/res/img_folder.png" alt="img-folder Icon" class="img-folder-icon"></div>
    <div class="SINGLE_IMAGE"><img src="/static/res/img.png" alt="img Icon" class="img-icon"></div>
    <div class="VIEW_IMAGE"><img src="/static/res/view.png" alt="view_img Icon" class="view_img-icon"></div>
</div>
