<div class="CONDITION_AREA">
    <div class="AND"><img src="/static/res/AND.png" alt="AND Icon" class="and-icon"></div>
    <div class="OR"><img src="/static/res/OR.png" alt="OR Icon" class="or-icon"></div>
    <div class="NOT"><img src="/static/res/NOT.png" alt="NOT Icon" class="not-icon"></div>
    <div class="INSIDE_ROI"><img src="/static/res/INSIDE_ROI.png" alt="INSIDE_ROI Icon" class="inside-roi-icon"></div>
    <div class="OUTSIDE_ROI"><img src="/static/res/OUTSIDE_ROI.png" alt="OUTSIDE_ROI Icon" class="outside-roi-icon"></div>
    <div class="TOUCHING_ROI"><img src="/static/res/TOUCHING_ROI.png" alt="TOUCHING_ROI Icon" class="touching-roi-icon"></div>
    <div class="IF"><img src="/static/res/IF.png" alt="IF Icon" class="if-icon"></div>
    <div class="ELSE"><img src="/static/res/ELSE.png" alt="ELSE Icon" class="else-icon"></div>
    <div class="OK"><img src="/static/res/OK.png" alt="OK Icon" class="ok-icon"></div>
    <div class="NOK"><img src="/static/res/NOK.png" alt="NOK Icon" class="nok-icon"></div>
    <div class="nested"><img src="/static/res/NESTED.PNG" alt="NESTED Icon" class="NESTED-icon"></div>
</div>


